footer.jumbotron.text-center.my-0
	h5 
		p Ici & Maintenant
		p Massage Bien-être
	p La Vie au Centre - 22 quai Louis Durand
	| Siège social - 22 Bis Rue de l'Artillerie
	p La Rochelle
	p m.anais@ntymail.com
	p 06 07 68 26 30