header.text-center.fixed-top.d-flex.justify-content-between.px-3
	blockquote(cite='https://fr.wikipedia.org/wiki/Voltaire') 
		p.mb-0 "J'ai décidé d'être heureux parce que c'est bon pour la santé"
		p.text-right Voltaire
	h1.mx-auto.px-3 Ici & Maintenant - Posturologie - Massage Bien-être
	div
		p.mb-0 uniquement sur rendez-vous 
		p 06 07 68 26 30