@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}

.bg1 {
	/* The image used */
	background-image: url("/images/arbre_violet.jpg");
}

.bg2 {
	/* The image used */
	background-image: url("/images/arbre_soleil.jpg");
}

.parallax {
	/* Set a specific height */
	min-height: 60vh;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.static {
	background: linear-gradient(to right top, #8d51c4, #a47ed7, #beaae8, #dcd4f5,
		#ffffff);
	text-align: center;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	text-shadow: 0 0 5px #000;
}

#prestations .card {
	background: rgba(255, 255, 255, 0.6);
}

#presentation {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	margin-left: 15vh;
}

#prestations h4 {
	color: red;
}

#prestations h6 {
	color: green;
}

#prestations .row .card img {
	height: 30vh;
	margin-top: 5vh;
}

#actualites img {
	width: 100%;
	height: 50vh;
	border-radius: 15px;
}
